
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGenAccountLabel" translate="blackholeApp.genAccount.home.createOrEditLabel">Create or edit a Gen Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.genAccount.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.genAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genAccount.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.genAccount.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genAccount.type" for="field_type">Type</label>
            <input type="text" class="form-control" name="type" id="field_type"
                    ng-model="vm.genAccount.type"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genAccount.dc" for="field_dc">Dc</label>
            <input type="text" class="form-control" name="dc" id="field_dc"
                    ng-model="vm.genAccount.dc"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genAccount.cno" for="field_cno">Cno</label>
            <input type="text" class="form-control" name="cno" id="field_cno"
                    ng-model="vm.genAccount.cno"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
