
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGenLedgerLabel" translate="blackholeApp.genLedger.home.createOrEditLabel">Create or edit a General Ledger Entry</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.genLedger.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.genLedger.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.entrydate" for="field_entrydate">Entrydate</label>
                <div class="input-group">
                    <input id="field_entrydate" type="text" class="form-control" name="entrydate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.genLedger.entrydate" is-open="vm.datePickerOpenStatus.entrydate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('entrydate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.transaction" for="field_transaction">Transaction</label>
            <input type="text" class="form-control" name="transaction" id="field_transaction"
                    ng-model="vm.genLedger.transaction"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.reconcile" for="field_reconcile">Reconcile</label>
            <input type="checkbox" class="form-control" name="reconcile" id="field_reconcile"
                    ng-model="vm.genLedger.reconcile"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.postingref" for="field_postingref">Postingref</label>
            <input type="number" class="form-control" name="postingref" id="field_postingref"
                    ng-model="vm.genLedger.postingref"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.debit" for="field_debit">Debit</label>
            <input type="text" class="form-control" name="debit" id="field_debit"
                    ng-model="vm.genLedger.debit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.credit" for="field_credit">Credit</label>
            <input type="text" class="form-control" name="credit" id="field_credit"
                    ng-model="vm.genLedger.credit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.debitbalance" for="field_debitbalance">Debitbalance</label>
            <input type="text" class="form-control" name="debitbalance" id="field_debitbalance"
                    ng-model="vm.genLedger.debitbalance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.creditbalance" for="field_creditbalance">Creditbalance</label>
            <input type="text" class="form-control" name="creditbalance" id="field_creditbalance"
                    ng-model="vm.genLedger.creditbalance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="vm.genLedger.notes"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genLedger.cno" for="field_cno">Cno</label>
            <input type="text" class="form-control" name="cno" id="field_cno"
                    ng-model="vm.genLedger.cno"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
