<div>
    <h2 translate="blackholeApp.genJournal.home.title">General Journal</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-success" ui-sref="gen-journal.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="blackholeApp.genJournal.home.createLabel">
                        Create new General Journal Entry
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'blackholeApp.genJournal.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-success" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-success" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table custom-table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entrydate"><span translate="blackholeApp.genJournal.entrydate">Entrydate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transaction"><span translate="blackholeApp.genJournal.transaction">Transaction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dacctno"><span translate="blackholeApp.genJournal.dacctno">Dacctno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="cacctno"><span translate="blackholeApp.genJournal.cacctno">Cacctno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="genJournal in vm.genJournalEntries track by genJournal.id" class="base-class" ng-class="myVar">
                    <td><a ui-sref="gen-journal-detail({id:genJournal.id})">{{genJournal.id}}</a></td>
                        <td>{{genJournal.entrydate | date:'mediumDate'}}</td>
                    <td>{{genJournal.transaction}}</td>
		    <td>
          {{genJournal.dacctno}} - {{genJournal.debitaccountname}}
			    <div class="dc-container">
			    <div class="debit-acct">{{genJournal.dadebit | currency}}</div><div class="credit-acct">{{genJournal.dacredit | currency}}</div></div>
		    </td>
		    <td>
          {{genJournal.cacctno}} - {{genJournal.creditaccountname}}
			    <div class="dc-container">
			    <div class="debit">{{genJournal.cadebit | currency}}</div><div class="credit">{{genJournal.cacredit | currency}}</div></div>
		    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="gen-journal-detail({id:genJournal.id})"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gen-journal.edit({id:genJournal.id})"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="gen-journal.delete({id:genJournal.id})"
                                    class="btn btn-default">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
