
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGenJournalLabel" translate="blackholeApp.genJournal.home.createOrEditLabel">Create or edit a General Journal Entry</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.genJournal.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.genJournal.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.entrydate" for="field_entrydate">Entrydate</label>
                <div class="input-group">
                    <input id="field_entrydate" type="text" class="form-control" name="entrydate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.genJournal.entrydate" is-open="vm.datePickerOpenStatus.entrydate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('entrydate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.transaction" for="field_transaction">Transaction</label>
            <input type="text" class="form-control" name="transaction" id="field_transaction"
                    ng-model="vm.genJournal.transaction"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.dacctno" for="field_dacctno">Dacctno</label>
            <select class="form-control" ng-model="vm.genJournal.dacctno" name="dacctno" id="field_dacctno">
         				<option ng-repeat="genAccount in genAccounts track by genAccount.cno" value="{{genAccount.cno}}">{{genAccount.name}}</option>
         		</select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.cacctno" for="field_cacctno">Cacctno</label>
            <select class="form-control" ng-model="vm.genJournal.cacctno" name="cacctno" id="field_cacctno">
         				<option ng-repeat="genAccount in genAccounts track by genAccount.cno" value="{{genAccount.cno}}">{{genAccount.name}}</option>
         		</select>
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.dadebit" for="field_dadebit">Dadebit</label>
            <input type="text" class="form-control" name="dadebit" id="field_dadebit"
                    ng-model="vm.genJournal.dadebit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.dacredit" for="field_dacredit">Dacredit</label>
            <input type="text" class="form-control" name="dacredit" id="field_dacredit"
                    ng-model="vm.genJournal.dacredit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.cadebit" for="field_cadebit">Cadebit</label>
            <input type="text" class="form-control" name="cadebit" id="field_cadebit"
                    ng-model="vm.genJournal.cadebit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.cacredit" for="field_cacredit">Cacredit</label>
            <input type="text" class="form-control" name="cacredit" id="field_cacredit"
                    ng-model="vm.genJournal.cacredit"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="blackholeApp.genJournal.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                    ng-model="vm.genJournal.notes"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
