<div>
    <h2 translate="blackholeApp.accountEntry.home.title">Account Entries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="account-entry.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="blackholeApp.accountEntry.home.createLabel">
                        Create new Account Entry
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'blackholeApp.accountEntry.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="entrydate"><span translate="blackholeApp.accountEntry.entrydate">Entrydate</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transaction"><span translate="blackholeApp.accountEntry.transaction">Transaction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reconcile"><span translate="blackholeApp.accountEntry.reconcile">Reconcile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="postingref"><span translate="blackholeApp.accountEntry.postingref">Postingref</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span translate="blackholeApp.accountEntry.debitcredit">D/C</span></th>
                    <th><span translate="blackholeApp.accountEntry.debitcreditbalance">D/C/Balance</span></th>
                    <th jh-sort-by="cno"><span translate="blackholeApp.accountEntry.cno">Cno</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="accountEntry in vm.accountEntries track by accountEntry.id">
                    <td><a ui-sref="account-entry-detail({id:accountEntry.id})">{{accountEntry.id}}</a></td>
                        <td>{{accountEntry.entrydate | date:'mediumDate'}}</td>
                    <td>{{accountEntry.transaction}}</td>
                    <td>{{accountEntry.reconcile}}</td>
                    <td>{{accountEntry.postingref}}</td>
                    <td width="200px">
		   	 <div class="dc-container">
			  <div class="debit-acct">{{accountEntry.debit | mycurrency}}</div>
			  <div class="credit-acct">{{accountEntry.credit | mycurrency}}</div>
			</div>
		    </td>
                    <td width="200px">
		   	<div class="dc-container">
			  <div class="debit-acct">{{accountEntry.debitbalance | mycurrency}}</div>
			  <div class="credit-acct">{{accountEntry.creditbalance | mycurrency}}</div>
			</div>
		    </td>
                    <td width="250px">{{genAccounts | chartName:accountEntry.cno}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="account-entry-detail({id:accountEntry.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="account-entry.edit({id:accountEntry.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="account-entry.delete({id:accountEntry.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
